{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}
{% block body %}
        <div class="list-tricks">
            {% for trick in tricks %}
                {% if trick.categoryId.id== category.id %}
                    {% include 'trick/_trick_cards.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    {% if category.tricks.empty  %}
        <div class="no-trick">
            <p>Pas de Tricks dans cette catégorie</p>
        </div>
    {% endif %}




{% endblock %}