{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
<section class="selectCategory">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success message-flash">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">

        <h1>
            <a href="#menu">Menu Tricks</a>
        </h1>

        <div class="popover" id="menu">
            <div class = 'content'>
                <a href="#" class="close"></a>
                     <div class = 'nav'>
                        <ul class = 'nav_list'>
                             <li class="nav_list_item">
                                 <a href="{{ path('app_trick_index') }}">Tout les tricks</a>
                             </li>
                             {% for category in categories  %}
                            <li class = 'nav_list_item'>
                                <a href="{{ path('app_category_show_trick',{'id': category.id })}}">{{ category.name }}</a>
                            </li>
                             {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
