.header{
  background-color: #5B21B695;
  width: auto;
  display: flex;
  justify-content: space-between;

  div{
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    a{
      text-decoration: none;
      font-size: x-large;
      font-weight: bold;
      color: #0D1321;
    }

  }
}