
.show-index-trick{
    i.fa.fa-plus-circle{
      font-size: xxx-large;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #77966D;
    }

    i.fa-pencil{
      color: #0D1321;
    }

    a{
      text-decoration: none;
    }
}

.align-cross{
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}