.show-index-trick{

  background-image: url("/public/uploads/photo page acceuil snowtricks.jpg");
  background-size: contain;
  background-repeat: repeat;

    i.fa.fa-plus-circle{
      font-size: xxx-large;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: green;
    }

    i.fa-pencil{
      color: #0c5460;
    }

    a{
    text-decoration: none;
    color: #77966D;
    }
}

.align-cross{
  display: flex;
  align-items: center;
  justify-content: center;
}