.list-tricks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.no-trick{
  display: flex;
  justify-content: center;
    p{
      font-size: xxx-large;
      width: max-content;
    }
}

.btn{
  width: 100px;
  height: 30px;
  background-color: #0D132195;
  color: white;
  border: none;
  border-radius: 10px;
}

.trick-card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 2px solid black;
  margin-right: 1rem;
  margin-left: 1rem;

  .trick-card-header {
    position: relative;
    overflow: hidden;
    background-color: #77966D;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .trick-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #77966D;
    p {
      text-align: center;
      font-family: 'Inter', sans-serif;
    }
  }
}

