{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success message-flash">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Listes des tricks</h1>

    <div class="background">


    <main class="show-index-trick">
        {% if app.user %}
            <div class="align-cross">
                <a href="{{ path('app_trick_new') }}">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </div>
        {% endif %}


    </main>
    <div class="list-tricks">
        {% for trick in tricks %}
            {% include 'trick/_trick_cards.html.twig' %}
        {% endfor %}
    </div>
    </div>
{% endblock %}
